<div class="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>About me</h2>
    <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad eius necessitatibus cum, reiciendis laboriosam aperiam impedit est maxime tempora distinctio aliquam nisi, rem omnis error quia! Ad aspernatur ipsa voluptatum.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad eius necessitatibus cum, reiciendis laboriosam aperiam impedit est maxime tempora distinctio aliquam nisi, rem omnis error quia! Ad aspernatur ipsa voluptatum.
    </p>
</article>