<section class="container" *ngIf="project">
    <div class="image">
            <img src="{{url + 'get-image/' + project.image}}"/>
    </div>
    <div class="data">
        <h1>{{project.name}}</h1>
        <h3>{{project.description}}</h3>
        <i>{{project.category}}</i>
        <p>{{project.technologies}}</p>
        <div>
            <a [routerLink]="['/edit', project._id]" class="btn btn-edit">Edit</a>
            <a (click)="deleteProject(project._id)" class="btn btn-delete">Delete</a>
        </div>
    </div>
</section>
