<div class="container">
    <h2>{{title}}</h2>
    <div class="msg success" *ngIf="status == 'success'">Project created successfully. You can check it <a [routerLink]="['/project', saveProject._id]">here</a></div>
    <div class="msg warning" *ngIf="status == 'failed'">Project failed! Try again</div>
    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required>
            <small class="msg-alert" *ngIf="name.touched && !name.valid">*Name is mandatory</small>
        </div>
         <div>
            <label for="description">Description:</label>
            <textarea name="description" cols="30" rows="5" #description="ngModel" [(ngModel)]="project.description" required></textarea>
            <small class="msg-alert" *ngIf="description.touched && !description.valid">*Description is mandatory</small>
         </div>
        <div>
            <label for="category">Category:</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required>
            <small class="msg-alert" *ngIf="category.touched && !category.valid">*Category is mandatory</small>
        </div>
        <div>
            <label for="year">Year:</label>
            <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year">
        </div>
        <div>
            <label for="technologies">Technologies:</label>
            <input type="text" name="technologies" #technologies="ngModel" [(ngModel)]="project.technologies" required>
            <small class="msg-alert" *ngIf="technologies.touched && !technologies.valid">*Technologies field is mandatory</small>
        </div>
        <div>
            <label for="image">Image:</label>
            <input type="file" name="image" placeholder="Upload image" (change)="fileChangeEvent($event)">
        </div>
      
        <input type="submit" value="Submit" [disabled]="!projectForm.form.valid">
    </form>   
</div>
