<header>
  <ul>
    <li><a href="" [routerLink] = "['/about']" [routerLinkActive] = "['actived']">About</a></li>
    <li><a href="" [routerLink] = "['/projects']" [routerLinkActive] = "['actived']">Projects</a></li>
    <li class="logo"><a href="#">YLV</a></li>
    <li><a href="" [routerLink] = "['/create-project']" [routerLinkActive] = "['actived']">Create Project</a></li>
    <li><a href="" [routerLink] = "['/contact']" [routerLinkActive] = "['actived']">Contact</a></li>
  </ul>
</header>

<section class="content">
  <router-outlet></router-outlet>
</section>
<footer>
  Master in Javascript - Udemy &copy;
</footer>